<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
    input[type=submit]
    {
        width: 200px;
        height: 200px;
    }
</style>
</head>
<body>
<h1>2Memory</h1>
<table id="tablero" border="1" style="font-size:100px;text-align:center;margin:auto;">
	<tr>
		<td>
      <form action="/cambiar/1_1" method="POST">
        <input id="1_1" type="submit" name="cambiar" value="<%= if session['carta1_1'] then session['carta1_1'] else '?' end %>" >
      </form>
    </td>

		<td>
      <form action="/cambiar/1_2" method="POST">
        <input id="1_2" type="submit" name="cambiar" value="<%= if session['carta1_2'] then session['carta1_2'] else '?' end %>" >
      </form>
			
		</td>
	</tr>
	<tr>
		<td>
      <form action="/cambiar/2_1" method="POST">
        <input id="2_1" type="submit" name="cambiar" value="<%= if session['carta2_1'] then session['carta2_1'] else '?' end %>" >
      </form>
    </td>

		<td>
      <form action="/cambiar/2_2" method="POST">
        <input id="2_2" type="submit" name="cambiar" value="<%= if session['carta2_2'] then session['carta2_2'] else '?' end %>" >
      </form>
			
		</td>
	</tr>
	<tr>
		<td>
      <form action="/cambiar/3_1" method="POST">
        <input id="3_1" type="submit" name="cambiar" value="<%= if session['carta3_1'] then session['carta3_1'] else '?' end %>" >
      </form>
    </td>

		<td>
      <form action="/cambiar/3_2" method="POST">
        <input id="3_2" type="submit" name="cambiar" value="<%= if session['carta3_2'] then session['carta3_2'] else '?' end %>" >
      </form>
			
		</td>
	</tr>
</table>

<!--h1>intentos:0</h1>
<h1>faltan:4</h1-->
</body>
</html>